---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    const customEntries = await getCollection("snippets");
    return customEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

interface Props {
    entry: CollectionEntry<"snippets">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();

// Format date
const formattedDate = entry.data.date.toISOString().split("T")[0];
---

<Layout
    title={`${entry.data.title} | ringo.sh`}
    description={entry.data.description}
>
    <article class="prose prose-sand dark:prose-invert max-w-none">
        <h1 class="font-mono text-2xl mb-2">{entry.data.title}</h1>
        <div class="font-mono text-xs opacity-50 mb-12 dashed-bottom pb-4">
            {formattedDate} :: SYSTEM_LOG
        </div>

        <Content />
    </article>

    <div class="mt-20">
        <a
            href="/snippets"
            class="font-mono text-sm opacity-60 hover:opacity-100"
            >&lt;- Back to Index</a
        >
    </div>
</Layout>

<style>
    .dashed-bottom {
        border-bottom: 1px dashed currentColor;
    }
</style>
